{{ define "main" }}

{{$years := slice }}
{{$all_pub_types := slice }}
{{range .Pages }}
{{$years = $years | append .Date.Year}}
{{ $publication_type := index .Params.publication_types 0 }}
{{$all_pub_types = $all_pub_types | append $publication_type }}
{{ end }}
{{ $all_pub_types = $all_pub_types | uniq }}

<div class="mx-auto max-w-2xl">
  <div class="prose pb-4">
    <h1>Publications</h1>
  </div>
  <div class="flex justify-begin">
    <div class="inline-block relative w-32">
      <select onchange="hideArticles()" id="article-year-select"
        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option>Year</option>
        {{ range $years | uniq }}
        <option>{{.}}</option>
        {{ end }}
      </select>
    </div>
    <div class="inline-block relative w-64">
      <select onchange="hideArticles()" id="article-type-select"
        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option>Type</option>
        {{ range $pub_type := $all_pub_types }}
        {{if eq $pub_type "0" }}
        <option value="0">Uncategorized</option>
        {{ else if eq $pub_type "1" }}
        <option value="1">Conference Paper</option>
        {{ else if eq $pub_type "2" }}
        <option value="2">Journal Article</option>
        {{ else if eq $pub_type "3" }}
        <option value="3">Preprint</option>
        {{ else if eq $pub_type "4" }}
        <option value="4">Report</option>
        {{ else if eq $pub_type "5" }}
        <option value="5">Book</option>
        {{ else if eq $pub_type "6" }}
        <option value="6">Book Chapter</option>
        {{ else if eq $pub_type "7" }}
        <option value="7">Thesis</option>
        {{ else if eq $pub_type "8" }}
        <option value="8">Patent</option>
        {{ end }}
        {{end }}
      </select>
    </div>
    <div class="inline-block relative w-full sm:w-96">
      <input id="article-search-input" oninput="hideArticles()" placeholder="Search"
        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
    </div>
  </div>
  <div id="articles" class="text-sm sm:text-lg">
    {{ $num_publications := len .Pages }}
    {{ range $index,$page := .Pages }}
    {{ $publication_type := index $page.Params.publication_types 0 }}
    <div data-year="{{.Date.Year}}" data-type="{{$publication_type}}"
      class="py-2 pl-7 -indent-7  pr-4 sm:pl-8 sm:-indent-8 text-justify">
      <div class="inline">[{{ sub $num_publications $index }}]</div>
      <div class="inline">
        {{ range $j,$author := $page.Params.authors}}
        {{$author_is_me := strings.Contains (lower $author) "merson"}}
        {{ $bold_string := cond $author_is_me "font-bold" ""}}
        <div class="inline {{ $bold_string }}">
          {{- $author -}}
          {{- if ne (add $j 1) (len $page.Params.authors) -}}
          ,&ensp;
          {{ end }}
        </div>
        {{end}}
      </div>
      <div class="inline">
        &ensp;({{- $page.Date.Year -}}).
      </div>
      <div class="inline">
        "{{- $page.Title -}}".
      </div>
      <div class="inline italic">
        &ensp;{{- $page.Params.publication -}}.
      </div>
      {{ if or $page.Content $page.Params.links }}
      <br>
      {{end }}
      <div class="pl-7 sm:pl-8">
        {{if $page.Params.abstract }}
        <button
          class="outline outline-rpi-dark-red-75 outline-2 hover:bg-rpi-dark-gray hover:text-gray-300 text-rpi-dark-red-75 font-bold py-1 px-2 rounded text-xs"
          onclick="toggleAbstract('{{ $index }}')">
          Abstract
        </button>
        {{ end }}
        {{ if $page.Params.doi }} 
          <a href="https://doi.org/{{$page.Params.doi}}">
            <button
              class="outline outline-rpi-dark-red-75 outline-2 hover:bg-rpi-dark-gray hover:text-gray-300 text-rpi-dark-red-75 font-bold py-1 px-2 rounded text-xs">
              DOI: {{$page.Params.doi}}
            </button>
          </a>
        {{ end }}
        {{range $link := $page.Params.links }}
        <a href="{{$link.url}}">
          <button
            class="outline outline-rpi-dark-red-75 outline-2 hover:bg-rpi-dark-gray hover:text-gray-300 text-rpi-dark-red-75 font-bold py-1 px-2 rounded text-xs">
            {{ $link.name }}
          </button>
        </a>
        {{ end }}
      </div>
      <div id="abstract-text-{{$index}}" class="hidden bg-rpi-dark-gray text-black indent-6 p-6 mt-4 rounded-lg bg-opacity-30 dark:text-rpi-dark-blue-25">
        {{$page.Params.abstract | markdownify }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
<!-- Select box for year dropdown -->
<script>
  // function to check if should hide or show article
  function shouldHideArticleYear(article, yearOption) {
    if (yearOption.index == 0) {
      return false;
    }
    else if (yearOption.text == article.getAttribute("data-year")) {
      return false;
    }
    return true;
  }
  function shouldHideArticleType(article, typeOption) {
    if (typeOption.index == 0) {
      return false;
    }
    else if (typeOption.value == article.getAttribute("data-type")) {
      return false;
    }
    return true;
  }
  function shouldHideArticleSearch(article, searchString) {
    if (searchString.length < 1) {
      return false;
    }
    let title = article.textContent.trim().toLowerCase();
    return !title.includes(searchString);
  }
  function shouldHideArticle(article, yearOption, typeOption, searchString) {
    if (shouldHideArticleYear(article, yearOption)) {
      return true;
    }
    if (shouldHideArticleType(article, typeOption)) {
      return true;
    }
    if (shouldHideArticleSearch(article, searchString)) {
      return true;
    }
    return false;
  }
  function hideArticles() {
    let yearDropdown = document.getElementById("article-year-select");
    let typeDropdown = document.getElementById("article-type-select");
    let searchBox = document.getElementById("article-search-input");
    let articles = document.getElementById("articles").children;
    console.log(searchBox);
    let yearOption = yearDropdown.options[yearDropdown.selectedIndex];
    let typeOption = typeDropdown.options[typeDropdown.selectedIndex];
    let searchString = searchBox.value.trim().toLowerCase();
    console.log("SearchString", searchString);
    // show all articles
    for (let i = 0; i < articles.length; i++) {
      let article = articles[i];
      //// also need to check if the current article type is correct ...
      if (shouldHideArticle(article, yearOption, typeOption, searchString)) {
        if (!article.classList.contains("hidden")) {
          article.classList.add("hidden");
        }
      }
      else {
        if (article.classList.contains("hidden")) {
          article.classList.remove("hidden");
        }
      }
    }
  }
  function toggleAbstract(param1) {
    console.log(param1);
    var moreText = document.getElementById("abstract-text-" + param1);
    if (moreText.classList.contains("hidden")) {
      moreText.classList.remove("hidden");
    } else {
      moreText.classList.add("hidden");
    }
  }
</script>
{{ end }}
