{{ define "main" }}
<h1 class="text-6xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center"> The Team </h1>
{{ with .Site.GetPage "/people/PI" }} 
{{ if or (gt (len .Pages) 0) .Params.message }}
  <h1 class="text-4xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center"> Principle Investigator </h1>
  {{ partial "people-list.html" . }}
{{ end }}
{{ end }}

{{ with .Site.GetPage "/people/PhD" }} 
{{ if or (gt (len .Pages) 0) .Params.message }}
  <hr>
  <h1 class="text-4xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center"> PhD Students </h1>
  {{ partial "people-list.html" . }}
{{end}}
{{ end }}

{{ with .Site.GetPage "/people/Masters" }} 
{{ if or (gt (len .Pages) 0) .Params.message }}
  <hr>
  <h1 class="text-4xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center"> Masters Students </h1>
  {{ partial "people-list.html" . }}
{{end}}
{{ end}}

{{ with .Site.GetPage "/people/Undergraduate" }}
{{ if or (gt (len .Pages) 0) .Params.message }}
  <hr>
  <h1 class="text-4xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center"> Undergraduate Students </h1>
  {{ partial "people-list.html" . }}
{{end}}
{{ end}}

{{ with .Site.GetPage "/people/Alumni" }}
{{ if or (gt (len .Pages) 0) .Params.message }}
  <hr>
  <h1 class="text-4xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center"> Alumni</h1>
  {{ partial "people-list.html" . }}
{{end}}
{{ end}}

{{ with .Site.GetPage "/people/Affiliated" }}
{{ if or (gt (len .Pages) 0) .Params.message }}
  <hr>
  <h1 class="text-4xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center">Affiliated</h1>
  {{ partial "people-list.html" . }}
{{end}}
{{ end}}



{{ end }}
