{{ define "main" }}
<h1 class="text-6xl pb-4 font-bold text-black dark:text-rpi-dark-red-50 text-center"> Projects </h1>
{{ range .Pages }}
<div class="mx-auto max-w-3xl bg-rpi-dark-blue-50  rounded-lg my-6 overflow-hidden p-6 ">
  <!-- grouping for figure/abstract -->
  <!-- Abstract -->
  <a href="{{.Permalink}}">
  <h1 class="text-bold text-xl font-bold text-black dark:text-rpi-dark-red-50 hover:text-rpi-dark-red-100">
    {{.Title}}
  </h1>
  </a>
  <!-- Figure -->
  <a href="{{.Permalink}}">
  <img class="float-right m-2 rounded-lg object-scale-down hover:opacity-50" width=200 height="200"
    src="{{ .RelPermalink }}{{.Params.graphicalabstract}}" alt="{{ .Title }} Portrait">
  </a>
  <p class="text-black">
  {{ .Page.Params.abstract }}
  </p>
</div>
<hr>
{{ end }}
{{ end }}