{{ $page_permalink := .RelPermalink }}
{{$ncols := cond (gt (len .Pages) 1) "md:grid-cols-6 md:place-items-stretch" "md-grid-cols-1"}}
<div >
<!-- Hiring banner -->
{{ if .Params.message}}
<div class="prose mx-auto max-w-2xl text-black text-lg mb-6 p-4 rounded-lg bg-rpi-dark-red-75 border-black border-2">
  {{ .Params.message | markdownify }}
</div>
{{ end }}
<div class="flex flex-wrap flex-row justify-around gap-2 pb-4">
  {{ range .Pages }}
  {{ .Scratch.Set "page_permalink" $page_permalink }}
  {{ if in .File.Dir "PI" }}
  {{ partial "person-photo-about.html" . }}
  {{ else }}
  {{ partial "person-photo-only.html" . }}
  {{ end }}
  {{ end }}
</div>
</div>
